* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  background: $dark-purple;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
  overflow: auto;
}

.cats {
  border: 1px solid blue;
}